@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap&family=Raleway:wght@500&display=swap&family=Ubuntu&display=swap');

/* Page styles - universal */
h1 {
    text-align: center;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: "Rubik", sans-serif;
    color: #85144b;
}

.heading-background {
    background-color: #f8f8ff;
    opacity: 0.95;
    border-radius: 8px;
}

.heading-padding {
    padding-top: 12px;
    padding-bottom: 12px;
}

.heading-margin { 
    margin-top: 6px;
    margin-bottom: 6px;
}

.heading-margin-top {
    margin-top: 6px;
}

p {
    font-family: "Ubuntu", sans-serif;
    color: #111111;
}

.title-div {
    background-color: #add8e6;
}

.content-div {
    background-color: #6699cc;
}

/* rounded button edges and colors */
.btn-rounded {
    border-radius: 25px;
}

.btn-green {
    background-color: #3D9970;
}

.form--button {
    width: 125px;
    height: auto;
}

/* navbar */
.nav-text {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

/* sections */
.head-text {
    font-size: 1.1rem;
}

.btn--padding {
    margin-top: 12px;
    margin-bottom: 12px;
}

.underline {
    text-decoration: underline;
}

/* Images displayed in cards on the home [calculator] page */
.card-img-top {
    max-height: 150px;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
    padding-top: 10px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 5px; 
    margin-bottom: 5px; 
    width: 18rem;
    height: 23.7rem;
}

.card--extra-wide {
    width: 90%;
    height: 90%;
}

/* separates the bottom of the card section from the button section */
.card-padding {
    padding-bottom: 15px;
}

.heading-center {
    text-align: center;
}

/* remove spinners from number inputs https://www.codexworld.com/how-to/remove-arrows-spinner-from-number-input-css/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

/* modal for calculation */
.icon_hide_dilemmazone {
    display: none;
}

.icon_hide_optionzone {
    display: none;
}

/* when icons are displayed in the modal dz = dilemma zone and oz = option zone */
.dz-icon {
    color: #FF0000;
    font-size: 22px;
    margin-left: auto;
}

.oz-icon {
    color: #0000ff;
    font-size: 22px;
    margin-left: auto;
}

/* Help Page */
/* Set card heights */
#card-help-velocity, 
#card-help-yellow,
#card-help-red,
#card-help-reaction-time,
#card-help-friction,
#card-help-intersection,
#card-help-length,
#card-help-final {
   height: 96.3%;
}

#card-help-text-velocity, 
#card-help-text-yellow,
#card-help-text-red,
#card-help-text-reaction-time,
#card-help-text-friction,
#card-help-text-intersection,
#card-help-text-length,
#card-help-text-final {
    height: auto;
    width: auto;
}

/* Reaction Time Game */
.icon_hide_greenLight {
    display: none;
}

.icon_hide_redLight {
    display: none;
}

.red_light_icon {
    color: #ee2400;
}

.green_light_icon {
    color: #32CD32;
}

.btn_hide_start {
    display: none;
}

.btn_hide_brakes {
    display: none;
}

.fa-stopwatch {
    color: pink;
}

.reaction_time_text {
    font-size: 1.8rem;
    color: #0000ff;
    text-align: center;
    border: 5px solid #FFFF00;
}

.best_score_text {
    font-size: 1.4rem;
    color: #36454f;
    text-align: center;
}

/* Hide heading text "start" or "brake" */
.ready_to_brake {
    display: none;
}

.remove_start {
    display: none;
}

.fb--button {
    background-color: #3b5998 !important;
    color: #fff !important;
}

/* Test Yourself Page */
#map_one,
#map_two,
#map_three,
#map_four, 
#map_five {
    height: 400px;  
    width: 100%;  
}
 
#card-map-1,
#card-map-2,
#card-map-3,
#card-map-4,
#card-map-5 {
    height: 618px;
    width: 100%;
}

#card-map-large-1,
#card-map-large-2,
#card-map-large-3,
#card-map-large-4,
#card-map-large-5 {
    height: auto;
    width: auto;
}

.icon-center {
    text-align: center;
    padding-top: 3rem;
}

/* location of the desktop, android and apple help buttons */
.background-ul {
    background-color: #f8f8ff;
    border: none;    
}

.help--button {
    width: 150px;
    height: auto;
}

.btn-blue {
    background-color: #0074D9;
}

/* footer */
/* footer background color */
.page-footer {
    background-color: #58B4C4;
}

/* icons fb = Facebook, tw = Twitter, li = LinkedIn, ins = Instagram, pin = Pintrest */

[class$="-icon"]:hover {
    text-decoration: none;
}
 
.fb-icon,
.tw-icon,
.li-icon,
.ins-icon,
.pin-icon,
.info-icon,
.map-icon {
    outline: none;  
}

/* 404 page */
.hazard-sign {
    height: 240px;
    width: auto;
}

.align-center {
 text-align: center;
}

/* $spacer amount */
.mt-7 {
  margin-top: 7rem !important;
}
