@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

/* Page styles - universal */
h1 {
    font-family: "Rubik", sans-serif;
    text-align: center;
}

.div1 {
    background-color: cyan;
}

.div2 {
    background-color: lightblue;
}

.div3 {
    background-color: grey;
}

/* footer */
/* footer background color */
.page-footer {
    background-color: #58B4C4;
}

/* icons fb = Facebook, tw = Twitter, li = LinkedIn, ins = Instagram, pin = Pintrest */

[class$="-icon"]:hover {
    text-decoration: none;
}
 
.fb-icon,
.tw-icon,
.li-icon,
.ins-icon,
.pin-icon {
    outline: none;  
}

