@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap&family=Raleway:wght@500&display=swap&family=Ubuntu&display=swap');

/* Page styles - universal */
h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", sans-serif;
  }

p {
    font-family: "Ubuntu", sans-serif;
}

.div1 {
    background-color: #e6d8ad;
}

.div2 {
    background-color: #add8e6;
}

.div3 {
    background-color: #6699cc;
}

/* navbar */
.nav-text {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

/* sections */
.head-text {
    font-size: 1.1rem;
}

.btn--padding {
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Images displayed in cards on the home [calculator] page */
.card-img-top {
  max-height: 150px;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
  padding-top: 10px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-top: 5px; 
  margin-bottom: 5px; 
  width: 18rem;
  height: 23.7rem;
}

/* separates the bottom of the card section from the button section */
.card-padding {
    padding-bottom: 15px;
}

.heading-center {
    text-align: center;
}

/* remove spinners from number inputs https://www.codexworld.com/how-to/remove-arrows-spinner-from-number-input-css/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

/* modal for calculation */
.icon_hide_dilemmazone {
    display: none;
}

.icon_hide_optionzone {
    display: none;
}

/* when icons are displayed in the modal */
.dz-icon {
    color: red;
    font-size: 22px;
    margin-left: auto;
}

.oz-icon {
    color: blue;
    font-size: 22px;
    margin-left: auto;
}

/* Reaction Time Game */
.icon_hide_greenLight {
    display: none;
}

.icon_hide_redLight {
    display: none;
}

.red_light_icon {
    color: #ee2400;
}

.green_light_icon {
    color: #32CD32;
}

.btn_hide_start {
    display: none;
}

.btn_hide_brakes {
    display: none;
}
/* footer */
/* footer background color */
.page-footer {
    background-color: #58B4C4;
}

/* icons fb = Facebook, tw = Twitter, li = LinkedIn, ins = Instagram, pin = Pintrest */

[class$="-icon"]:hover {
    text-decoration: none;
}
 
.fb-icon,
.tw-icon,
.li-icon,
.ins-icon,
.pin-icon {
    outline: none;  
}

